@page
@model Onath.Web.Pages.Musics.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>App</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Music.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Music.Title)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Music.Url)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Music.Url)
        </dd>
    </dl>
</div>

